<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="app.js"></script>
  </head>
  <body>
    <div id="app" style="margin: 20px;">
      <p>Message is: {{ message }}</p>
      <input v-model="message" placeholder="Edit" />
      <br />
      <span>Multiline message is:</span>
      <p style="white-space: pre-line;">{{ multiLineMessage }}</p>
      <br />
      <textarea v-model="multiLineMessage"></textarea>
      <br />
      <input type="checkbox" v-model="checked" />
      <label for="checkbox">{{ checked }}</label>
      <br />
      <input type="radio" value="One" v-model="picked" />
      <label for="one">Option 1</label>
      <br />
      <input type="radio" value="Two" v-model="picked" />
      <label for="two">Option 2</label>
      <br />
      <span>Picked: {{ picked }}</span>
      <br />
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br />
      <!-- `locked` is a string "a" when checked -->
      <input type="radio" v-model="locked" value="a" />
      <span>Selected: {{ locked }}</span>
      <br />
      <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      />
      <label>{{toggle}}</label>
      <br />
      <!-- input to be automatically typecast as a Number -->
      <input v-model.number="age" type="number" />
      <br />
      <!-- whitespace from user input to be trimmed automatically -->
      <input v-model.trim="msg" />
    </div>
  </body>
</html>
